.localInformations {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;

    div {
        font-size: 2rem;
        margin: 20px;
    }
}

#cities {
    background-color: rgb(92, 138, 206);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-size: 1rem;
    padding: 10px 5px;
    border: none;
    outline: none;
    
    &.dark-mode{
        background-color: #2e2e2e;
        color: rgb(19, 191, 235);
        padding: 10px 5px;
        border: none;
        outline: none;
    }
}

#btnChangeTheme{
    margin-top: 30px;
    margin-left: 30px;
    width: 80px;
    height: 80px;
    font-size: 3rem;
    cursor: pointer;
}
