<div id="btnDiv">
    <div id="btnChangeTheme" (click)="toggleTheme()">
        {{ btnIcon() }}
    </div>
</div>
<div class="localInformations">
    <select id="cities" [(ngModel)]="selectedCity" (change)="changeCity()" [ngClass]="{'dark-mode': select()}">
        <option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </option>
    </select>
    <div id="city">{{ showCity() }}</div> 
    <div>{{ getTheDayOfTheWeek() }}, {{ day }} de {{ getTheMonth() }} de {{ year }}</div>
</div>

