* {
    margin: 0;
    padding: 0;
}

#container-temperature {
    display:flex;
    justify-content:center;
    height: 100px;
    width: 100%;
    margin-top: 120px;
    margin-left: 30px;

    p {
        font-size: 10rem;
        margin: 10px;
    }

    div{
        font-size: 3rem;
        top: 20px;
    }
}