<table id="container-climate">
    <ng-container *ngFor="let forecast of climateWeatherData.results.forecast.slice(1, 6); let isLast = last">
      <div class="cilmateDiv">
        <div>{{forecast.weekday}}</div>
        <div><img [src]="'./assets/' + forecast.condition + '.svg'"></div>
        <div>{{forecast.min}}° - {{forecast.max}}°</div>
        <div>💧 {{forecast.rain_probability}}%</div>
        <div>🍃 {{forecast.wind_speedy}}</div>
      </div>
      <hr *ngIf="!isLast"> 
    </ng-container>
  </table>
  