<table id="container-climate">
    <div class="cilmateDiv">
        <div>hj</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.condition_slug + '.svg'"></div>
        <div>19°</div>
        <div>💧 0%</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>amanhã</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.condition_slug + '.svg'"></div>
        <div>19°</div>
        <div>💧 0%</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>22:00</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.condition_slug + '.svg'"></div>
        <div>19°</div>
        <div>💧 0%</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>22:00</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.condition_slug + '.svg'"></div>
        <div>19°</div>
        <div>💧 0%</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>22:00</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.condition_slug + '.svg'"></div>
        <div>19°</div>
        <div>💧 0%</div>
    </div>
</table>
