<table id="container-climate">
    <div class="cilmateDiv">
        <div>{{apiService.weatherData.results.forecast[1].weekday}}</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.forecast[1].condition + '.svg'"></div>
        <div>{{apiService.weatherData.results.forecast[1].min}}° - {{apiService.weatherData.results.forecast[1].max}}°</div>
        <div>💧 {{apiService.weatherData.results.forecast[1].rain_probability}}%</div>
        <div>🍃 {{apiService.weatherData.results.forecast[1].wind_speedy}}</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>{{apiService.weatherData.results.forecast[2].weekday}}</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.forecast[2].condition + '.svg'"></div>
        <div>{{apiService.weatherData.results.forecast[2].min}}° - {{apiService.weatherData.results.forecast[2].max}}°</div>
        <div>💧 {{apiService.weatherData.results.forecast[2].rain_probability}}%</div>
        <div>🍃 {{apiService.weatherData.results.forecast[2].wind_speedy}}</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>{{apiService.weatherData.results.forecast[3].weekday}}</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.forecast[3].condition + '.svg'"></div>
        <div>{{apiService.weatherData.results.forecast[3].min}}° - {{apiService.weatherData.results.forecast[3].max}}°</div>
        <div>💧 {{apiService.weatherData.results.forecast[3].rain_probability}}%</div>
        <div>🍃 {{apiService.weatherData.results.forecast[3].wind_speedy}}</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>{{apiService.weatherData.results.forecast[4].weekday}}</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.forecast[4].condition + '.svg'"></div>
        <div>{{apiService.weatherData.results.forecast[4].min}}° - {{apiService.weatherData.results.forecast[4].max}}°</div>
        <div>💧 {{apiService.weatherData.results.forecast[4].rain_probability}}%</div>
        <div>🍃 {{apiService.weatherData.results.forecast[4].wind_speedy}}</div>
    </div>
    <hr>
    <div class="cilmateDiv">
        <div>{{apiService.weatherData.results.forecast[5].weekday}}</div>
        <div><img [src]="'./assets/' + apiService.weatherData.results.forecast[5].condition + '.svg'"></div>
        <div>{{apiService.weatherData.results.forecast[5].min}}° - {{apiService.weatherData.results.forecast[5].max}}°</div>
        <div>💧 {{apiService.weatherData.results.forecast[5].rain_probability}}%</div>
        <div>🍃 {{apiService.weatherData.results.forecast[5].wind_speedy}}</div>
    </div>
</table>
