* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(17, 76, 165);
    height: 100%;
    color: white;
    transition: 0.5;

    &.dark-mode{
        background-color: black;
    }
}
